RemoteSystemsTempFiles/
Vivado/.Xil/
*.log
*.jou
Vivado/ac701*/
Vivado/kc705*/
Vivado/kcu105*/
Vivado/vc707*/
Vivado/vc709*/
Vivado/vcu108*/
Vivado/vcu118*/
Vivado/uzev*/
Vivado/pz_70*/
Vivado/zc70*/
Vivado/zcu102*/
Vivado/zedboard*/
Vitis/.*/
Vitis/.*
Vitis/boot/
Vitis/*_workspace/
PetaLinux/ac701*/
PetaLinux/kc705*/
PetaLinux/kcu105*/
PetaLinux/vc707*/
PetaLinux/vc709*/
PetaLinux/vcu108*/
PetaLinux/vcu118*/
PetaLinux/uzev*/
PetaLinux/pz_70*/
PetaLinux/zc70*/
PetaLinux/zcu102*/
PetaLinux/zedboard*/
docs/build/
bootimages/
PetaLinux/offline.txt

