
    &axi_ethernet_0 {  
        local-mac-address = [00 0a 35 00 01 22];  
        phy-handle = <&extphy0>;  
        xlnx,has-mdio = <0x1>;  
        phy-mode = "rgmii-rxid";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
            extphy0: phy@0 {  
                device_type = "ethernet-phy";  
                reg = <0>;  
            };  
        };  
    };  
      
    &axi_ethernet_1 {  
        local-mac-address = [00 0a 35 00 01 23];  
        phy-handle = <&extphy1>;  
        xlnx,has-mdio = <0x1>;  
        phy-mode = "rgmii-rxid";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
            extphy1: phy@0 {  
                device_type = "ethernet-phy";  
                reg = <0>;  
            };  
        };  
    };  
      
    &axi_ethernet_2 {  
        local-mac-address = [00 0a 35 00 01 24];  
        phy-handle = <&extphy2>;  
        xlnx,has-mdio = <0x1>;  
        phy-mode = "rgmii-rxid";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
            extphy2: phy@0 {  
                device_type = "ethernet-phy";  
                reg = <0>;  
            };  
        };  
    };  
      
    &axi_ethernet_3 {  
        local-mac-address = [00 0a 35 00 01 25];  
        phy-handle = <&extphy3>;  
        xlnx,has-mdio = <0x1>;  
        phy-mode = "rgmii-rxid";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
            extphy3: phy@0 {  
                device_type = "ethernet-phy";  
                reg = <0>;  
            };  
        };  
    };  
      
    &axi_ethernet_4 {  
        local-mac-address = [00 0a 35 00 01 26];  
        phy-handle = <&extphy4>;  
        xlnx,has-mdio = <0x1>;  
        phy-mode = "rgmii-rxid";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
            extphy4: phy@0 {  
                device_type = "ethernet-phy";  
                reg = <0>;  
            };  
        };  
    };  
      
    &axi_ethernet_5 {  
        local-mac-address = [00 0a 35 00 01 27];  
        phy-handle = <&extphy5>;  
        xlnx,has-mdio = <0x1>;  
        phy-mode = "rgmii-rxid";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
            extphy5: phy@0 {  
                device_type = "ethernet-phy";  
                reg = <0>;  
            };  
        };  
    };  
      
    &axi_ethernet_6 {  
        local-mac-address = [00 0a 35 00 01 28];  
        phy-handle = <&extphy6>;  
        xlnx,has-mdio = <0x1>;  
        phy-mode = "rgmii-rxid";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
            extphy6: phy@0 {  
                device_type = "ethernet-phy";  
                reg = <0>;  
            };  
        };  
    };  
      
    &axi_ethernet_7 {  
        local-mac-address = [00 0a 35 00 01 29];  
        phy-handle = <&extphy7>;  
        xlnx,has-mdio = <0x1>;  
        phy-mode = "rgmii-rxid";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
            extphy7: phy@0 {  
                device_type = "ethernet-phy";  
                reg = <0>;  
            };  
        };  
    };  

