CONFIG_SYS_CONFIG_NAME="platform-top"
CONFIG_BOOT_SCRIPT_OFFSET=0x9C0000
CONFIG_I2C_EEPROM=y
CONFIG_SYS_I2C_EEPROM_ADDR=0x0
CONFIG_SYS_I2C_EEPROM_ADDR_OVERFLOW=0x0

# 2025.01 u-boot on Zynq7000 hangs after "Flash: 0 Bytes" inside the DM
# post-init-R pass. NET disable didn't help; next suspects are USB (EHCI PHY
# probe stall) and EFI loader.
# CONFIG_NET is not set
# CONFIG_CMD_NET is not set
# CONFIG_XILINX_AXIEMAC is not set
# CONFIG_XILINX_AXIMRMAC is not set
# CONFIG_CMD_NAND is not set
# CONFIG_MTD_RAW_NAND is not set
# CONFIG_NAND_ZYNQ is not set
# CONFIG_CMD_ONENAND is not set
# CONFIG_ONENAND is not set
# CONFIG_USB is not set
# CONFIG_DM_USB is not set
# CONFIG_USB_EHCI_HCD is not set
# CONFIG_USB_EHCI_ZYNQ is not set
# CONFIG_CMD_USB is not set
# CONFIG_EFI_LOADER is not set
# CONFIG_CMD_BOOTEFI is not set
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_ENV_IS_IN_SPI_FLASH is not set
# CONFIG_ENV_IS_IN_NAND is not set
# CONFIG_ENV_IS_IN_FAT is not set
CONFIG_LOGLEVEL=8
CONFIG_LOG=y
CONFIG_LOG_MAX_LEVEL=8
CONFIG_LOG_DEFAULT_LEVEL=8
